<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Disable Zoom [hardcore] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{master.title}} {{#if page}} &rsaquo; {{page}}{{/if}}
    </title>

    <!-- CSS -->
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->


  </head>
  
  <body>
    
    <!-- Header -->
    <header role="main">
      
    </header>
    <!-- Nav (Footer) -->
    <!-- Footer -->
    <footer class="container-fluid">
      <section class="row">
        <!-- Web -->
        <div class="col-xs-1 menu">
          <h5><i class="mdi mdi-menu"></i></h5>
        </div>
        <div class="col-xs-3">
          <div class="tableCenter">
            <h5>Web <i class="mdi mdi-chevron-down"></i></h5>
            <ul>
              <li>
                <a href="">Front end</a>
              </li>
              <li>
                <a href="">Full stack</a>
              </li>
              <li>
                <a href="">Animation</a>
              </li>
              <li>
                <a href="">Design</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Personal -->
        <div class="col-xs-3">
          <div class="tableCenter">
            <h5>Pursuits <i class="mdi mdi-chevron-down"></i></h5>
            <ul>
              <li>
                <a href="">Humanities</a>
              </li>
              <li>
                <a href="">Social psychology</a>
              </li>
              <li>
                <a href="">Theatre</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Information -->
        <div class="col-xs-3">
          <div class="tableCenter">
             <h5>Information <i class="mdi mdi-chevron-down"></i></h5>
            <ul>
              <li>
                <a href="">Give feedback</a>
              </li>
              <li>
                <a href="">Make an inquiry</a>
              </li>
              <li>
                <a href="">Do business</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2 logo">
          <a href="/#landing">Josh</a>
        </div>
      </section>
    </footer>