{{> header}}

  <section class="landingPage" id="home">
    
    <!-- Swiper Nav -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        
        <!-- Landing -->
        <div class="swiper-slide" data-hash="landing">
          Landing
        </div>
        
        <!-- Pursuits -->
        <div class="swiper-slide" data-hash="slide1">
            
        </div>
        
        <!--  -->
        <div class="swiper-slide" data-hash="slide1">

        </div>
      </div>
      
      <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>

      <!-- Arrows
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div> -->
      
    </div>
    
  </section>

{{> footer}}