{{> header}}

  <section class="landingPage" id="home">
    
    <!-- Swiper Nav -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        
        <!-- Slide -->
        <div class="swiper-slide" data-hash="landing">
          <div>
            
            <!-- Card -->
            <div class="cardWrapper">
              <div class="card">
                <div class="cardFace front">
                  <p>Yo Frankyj</p>
                </div>
                <div class="cardFace back">
                  <div class="moreInfo">sup d00d?</div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
        <!-- Slide -->
        <div class="swiper-slide" data-hash="slide1">
          <div>
            
            <!-- Card -->
            <div class="cardWrapper">
              <div class="card">
                <div class="cardFace front">
                  <p>Yo Frankyj</p>
                </div>
                <div class="cardFace back">
                  <div class="moreInfo">sup d00d?</div>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        <!-- Slide -->
        <div class="swiper-slide" data-hash="slide1">
          <div>
            
            <!-- Card -->
            <div class="cardWrapper">
              <div class="card">
                <div class="cardFace front">
                  <p>Yo Frankyj</p>
                </div>
                <div class="cardFace back">
                  <div class="moreInfo">sup d00d?</div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
        
      <!-- Slide -->
      <div class="swiper-slide" data-hash="slide1">
        <div>

          <!-- Card -->
          <div class="cardWrapper">
            <div class="card">
              <div class="cardFace front">
                <p>Yo Frankyj</p>
              </div>
              <div class="cardFace back">
                <div class="moreInfo">sup d00d?</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
        
      <!-- Slide -->
      <div class="swiper-slide" data-hash="slide1">
        <div>

          <!-- Card -->
          <div class="cardWrapper">
            <div class="card">
              <div class="cardFace front">
                <p>Yo Frankyj</p>
              </div>
              <div class="cardFace back">
                <div class="moreInfo">sup d00d?</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>

      <!-- Arrows
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div> -->
      
    </div>
    
  </section>

{{> footer}}